.todo_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border: 2px solid #453953;
    border-radius: 10px;
}

.content_wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .todo_title{
        font-size: 35px;
    }
    .desc{
        font-size: 20px;
    }
}

.actions_wrapper{
    display: flex;
    gap: 20px;
    align-items: center;

    .check{
        font-size: 28px;
        color: #453953;
    }
    .delete{
        font-size: 25px;
        color: #453953;
    }
}
